<h1>STRING INTERPOLATION</h1>
<h2>{{ "Hola Mundo".repeat(6) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>

<h4>Hola soy {{ name }} y tengo {{ age }}</h4>
<img src="{{ img }}" alt="img" width="190px" />

<h1>PROPERTY BINDING</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="name" /><br />
<img [src]="img" alt="img" width="190px" />
<progress max="100" [value]="age"></progress>

<h1>EVENTS</h1>
<input type="text" (keyup)="onChangeName($event)" />
<button (click)="increaseAge()">Add age</button>
<button (click)="resetAge()">Reset age</button>

<h3>Scroll</h3>
<div class="box" (scroll)="onScroll($event)">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Id aliquid,
  reiciendis magni omnis sequi voluptatum quidem sit optio commodi quod
  repudiandae harum. Nostrum non aspernatur minima fugit, nam expedita quas.
</div>

<h1>
  DATA BINDING CON ngModule para los inputs, esto hay que adicionarlo a angular
  con FormsModule
</h1>
<input
  type="text"
  required
  #validateInput="ngModel"
  [(ngModel)]="name"
  (keyup)="onChangeName($event)"
/><br />
<p>Valid: {{ validateInput.valid }}</p>

<h1>USO DE *ngIf</h1>
<div *ngIf="name === 'Yasniel Fajardo'; else templateElse">
  Hola, soy Yasniel y eso funciona gracias a ngIf de Angular
</div>
<ng-template #templateElse>
  <div>Hoye porque me cambias el nombre??????????</div>
</ng-template>

<h1>USO DE *ngFor</h1>
<input type="text" [(ngModel)]="newName" />
<button (click)="addPerson()">Add Name</button>
<ul>
  <li *ngFor="let p of persons; index as i">
    {{ i }} {{ p.name }} <button (click)="deletePerson(i)">Delete</button>
  </li>
</ul>
<p *ngIf="persons.length === 0">No hay nombres</p>

<h1>USO DE *ngSwitch</h1>
<div [ngSwitch]="switchValue">
  <p *ngSwitchCase="'yasniel'">Yasniel Fajardo Egues</p>
  <p *ngSwitchCase="'juan'">Juan Perez Parra</p>
  <p *ngSwitchCase="'manuel'">Manuel Sanchez Medina</p>
  <p *ngSwitchDefault>NO HACE MATCH CON NINGUN NOMBRE ESPERADO</p>
</div>

<input
  type="text"
  required
  placeholder="yasniel, juan o manuel"
  #validateInput="ngModel"
  [(ngModel)]="switchValue"
  (keyup)="onChangeName($event)"
/><br />

<h1>USO DE CLASES Y ESTILOS DINAMICOS</h1>
<input
  type="text"
  required
  placeholder="Escriba un nombre"
  #nameInput="ngModel"
  [(ngModel)]="switchValue"
  (keyup)="onChangeName($event)"
/><br />
<p
  class="message-error"
  [class.active]="nameInput.invalid"
  [class.invalid]="nameInput.invalid"
>
  El campo se rerquerido
</p>

<label>Name</label>
<input
  type="text"
  required
  placeholder="Escriba un nombre"
  #nameInput="ngModel"
  [(ngModel)]="switchValue"
  (keyup)="onChangeName($event)"
/><br />
<h3>Estilo en linea</h3>
<p [style.font-style]="nameInput.invalid ? 'italic' : 'normal'">
  Texto texto texto
</p>

<div>
  <!-- // Esto puede estar con .px .% .rem etc... -->
  <img src="{{ img }}" [style.width.px]="withImg" alt="img" /><br />
  <input
    type="number"
    required
    placeholder="Escriba un valor para el width de la imagen"
    #nameInput="ngModel"
    [(ngModel)]="withImg"
  /><br />
</div>

<h1>NgClass y NgStyle</h1>
<h4>NgClass</h4>
<label>Quita el nombre</label>
<input
  type="text"
  required
  placeholder="Escriba algo"
  #nameInput2="ngModel"
  [(ngModel)]="name"
/><br />
<p
  class="line-error"
  [ngClass]="{
    valid: nameInput2.valid,
    invalid: nameInput2.invalid
  }"
>
  Texto de Ejemplo NgClass
</p>

<h4>NgStyle</h4>
<div>
  <div>
    <div
      [ngStyle]="{
        'width.px': box.width,
        'height.px': box.height,
        'background-color': box.background,
        display: 'block'
      }"
    ></div>
  </div>
  <div>
    <input type="number" [(ngModel)]="box.width" /><br />
    <input type="number" [(ngModel)]="box.height" /><br />
    <input type="color" [(ngModel)]="box.background" />
  </div>
</div>

<h1>MANEJO DE FORMULARIOS</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div>
    <label for="username">Username</label>
    <input
      type="text"
      required
      id="username"
      name="username"
      [(ngModel)]="register.username"
    />
    <p>Error</p>
  </div>
  <div>
    <label for="email">Email</label>
    <input
      type="text"
      required
      id="email"
      name="email"
      [(ngModel)]="register.email"
    />
    <p>Error</p>
  </div>
  <div>
    <label for="password">Password</label>
    <input
      type="password"
      required
      id="password"
      name="password"
      [(ngModel)]="register.password"
    />
    <p>Error</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
</form>
